<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus</title>
</head>
<body>
    <header>
        <nav>
            <h1>Marcus</h1>
            <ul>
                <li><a href="http://localhost:5500/login"></a>Login</li>
                <li><a href="http://localhost:5500/joinUs"></a>Join Us</li>
                <li><a href="http://localhost:5500/contactIt"></a>Contact IT</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Saiba como é trabalhar conosco</h2>
        <iframe src="https://www.youtube.com/embed/YLLUDwIjD6Q?si=SLXQUtsS1BLNxbUa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h2>Conheça as nossas instalações</h2>
        <h2>Aprenda sobre nossos fundadores</h2>
    </main>
    
</body>
<footer>
    <ul>
        <li>Email: <a href="mailto:lvd@cesar.school">lvd@cesar.school</a></li>
        <li>Whastapp: <a href="mailto:lvd@cesar.school">+55 (81) 99999-8888</a></li>
        <li>Urgencia: +55 81 3236-8686</li>
    </ul>
    <div id="address">
        <p>Rua cais do apolo, 989 - Recife, PE</p>
    </div>
    <div>
        <img src="views/styles/images/creditCards/visaMaster.png" alt="cards">
    </div>
</footer>
</html>