<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../views/styles/images/markus/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>It Support</title>
    <link href="../styles/css/form-validation.css" rel="stylesheet">
    <link href="../styles/css/home.css" rel="stylesheet">
  </head>

  <body class="bg-light">
    <script src="../scripts/itSupport.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <img class="nameSize ml-5" src="../../views/styles/images/markus/markusName.png" alt="">
        <img class="logoSize" src="../../views/styles/images/markus/logo.png" alt="">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logIn.html">Log In</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="joinUs.html">Join Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="py-5 text-center">
        <h1 class="h2 mb-3 font-weight-normal ">IT Support</h1>
        <p>For an efficient IT support experience, please reach out to us with specific details of your issue, and we'll be ready to assist with quick and effective solutions.</p>
      </div>          
      <h4 class="d-flex  align-items-center mb-3">
        <span class="text-muted">Your support requests</span>
        <span class="badge badge-secondary badge-pill ml-3">3</span>
      </h4>
      <table id="serviceRequests" class="table table-striped table-dark mb-4" style="border-radius: 8px;">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Deadline</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="row">
        
        <div class="col-md-6 order-md-2">
          <h4 class="mb-3">New IT Support Request</h4>
          <form class="needs-validation" onsubmit="event.preventDefault(); addServiceRequest();" novalidate>
            <hr class="mb-4">
            <div class="d-block my-3">
              <div class="form-row">
                <div class="form-group col-md-6 mr-3">
                  <label for="inputService">Service Type</label>
                  <select id="inputService" class="form-control inputcolor " onchange="updateServicePrice();">
                    <option></option>
                    <option value="1">User support</option>
                    <option value="2">It Infrastructure</option>
                    <option value="3">Data Security</option>
                    <option value="4">System Instalation</option>
                    <option value="5">It Outsourcing</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="serviceStatus">Status:</label>
                  <p id="serviceStatus"></p>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 mr-3">
                  <label for="attendanceDeadline">Attendance Deadline:</label>
                  <p id="estimatedDate"></p>
                </div>
                <div class="form-group col-md-4">
                  <label for="servicePrice">Price:</label>
                  <p id="servicePrice"></p>
                </div>       
                <div class="form-group col-md-3">
                  <label for="deadlineDate">Deadline Date:</label>
                  <p id="deadlineDate"></p>
                </div>   
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Create Request</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022-2024 Markus, Inc</p>
        <ul class="list-inline">
      </footer>
    </div>
  </body>
</html>
